/* .contenue {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    
    
}
.contenue .trait{
    background-color: white;
    width: 150px;
    height: 8px;
}
.contenue .description{
    display: flex;
    flex-direction: column;
    width: 500px;
    
}
.contenue .description .paragraphe {
    color: white;
    margin:0;
}
.sary{
    width: 250px;
    height: 250px;
    border-radius: 120px;
    margin-right: 180px; 

}
.contenue .paragraphe .nom {
    font-size: 2em;
    font-weight: bolder;
    width: 100%;
    font-family: sans-serif;
} 
.contenue .paragraphe .nom-descri {
    margin-top: -5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media screen and (max-width:1024px){
    .contenue {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        
    }
    .contenue .description .trait {
        display: none;
    }
    .contenue .sary{
        width: 220px;
        height: 220px;
        margin: 0;
        border-radius: 10px;
    }
    .contenue .description .paragraphe{
        width: 78%;
        text-align: center;
    }
}
 */
/* Styles pour la classe .contenue */
.contenue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aqua;
  }
  
  /* Styles pour la classe .description */
  .description {
    flex: 1;
    display: flex;
    flex-direction: column; /* Disposer les éléments en colonne */
    align-items: center;
  }
  
  /* Styles pour la classe .trait */
  .trait {
    height: 2px;
    width: 50px;
    background-color: #e2dede;
    margin-bottom: 10px;
  }
  
  /* Styles pour la classe .paragraphe */
  .paragraphe {
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  /* Styles pour la classe .nom */
  .nom {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Styles pour la classe .nom-descri */
  .nom-descri {
    font-size: 16px;
    color: #666;
  }
  
  /* Styles pour la classe .separation */
  .separation {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles pour la classe .trait2 */
  .trait2 {
    height: 2px;
    width: 100px;
    background-color: #f8f8f8;
  }
  
  /* Styles pour la classe .sary */
  .sary {
    margin-top: 20px;
    width: 220px;
    height: 220px;
  }
  