.Contact {
    /* background-color: aqua; */
}
.Contact .title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-left: 300px;
    margin-bottom: 5px;


}
.Contact .coordonee {
    margin-left: 350px;
    font-style: italic;
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: column;

}
.bloc{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    margin-right: 0;
    align-items: center;
}
.block02{
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.block03{
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.block04{
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
@media screen and (max-width:1024px) {
    .Contact {
        /* text-align: center; */
        /* width: 100%; */
        /* margin: 0; */
        /* background-color: blue; */
    }
    .Contact .title{
        /* background-color: #161616; */
        margin-left: 180px;
    }
    .Contact .coordonee{
        margin-left: 220px;

    }
   
}